body {
    font-family : Arial;
    font-size : 14px;
}

.page-title {
    font-size:24px; 
	font-weight:bold;
}

.cart-header {
	/*background-color: #0040FF;*/
	background-color: #017CA7;
	color: white;
}

.btn btn-primary {
    background-color: blue;
    /* Optional styles: */
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.search-button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none; /* Remove default border */
    cursor: pointer; /* Indicate it's clickable */
    font-size: 14px; /* match the font size of your buttons*/
}


button[disabled].search-button {
    background-color: lightgray !important;
      /* Optional styles: */
    color: white !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
     border: none !important;
    cursor: not-allowed !important;
    font-size: 14px !important; /* match the font size of your buttons*/
}